h1 {color:#666; border-bottom:1px solid #666;padding: 1ex;}
a {color:blue;
}
a:hover {color:purple}
body {font-family: Calibri;font-size: 14pt;background-color: #efe;}
p {text-indent: 1em;text-align: justify;}
#karkulka{float: right;margin: 20px;}
form{margin-top: 50px}
form p{text-indent: 0em}
td, th {border:1px solid #696;padding: 5px}
            table{border-spacing: 0;border-collapse: collapse;} 
            .celoradek{font-size: 12pt;background-color: #ded;}